[submodule "monet"]
	path = monet
	url = https://github.com/stevemolitor/monet.git
[submodule "gptel"]
	path = gptel
	url = https://github.com/karthink/gptel.git
[submodule "claude-code"]
	path = claude-code
	url = https://github.com/stevemolitor/claude-code.el
